
[Unit]
Description=Postfix Helo Validity Milter
Conflicts=sendmail.service exim4.service
ConditionPathExists=/etc/postfix/main.cf
Requires=postfix.service


[Service]
Type=simple

## If running in a venv (Virtual ENVironment), set the path to venv/bin here:
## Environment=VIRTUAL_ENV=/path/to/your/folder/venv
Environment=PATH=/path/to/your/folder/venv/bin

ExecStart=python3 /path/to/your/folder/helo-milter.py

ExecReload=kill -SIGHUP $MAINPID

## Restarts when this signal is sent to process
## Regardless of Restart=... directive!
RestartForceExitStatus=1 SIGHUP

## These will be considered successful, not failed, runs:
SuccessExitStatus=1 SIGHUP 2 SIGINT 30 SIGPWR

[Install]
WantedBy=multi-user.target
