
[Unit]
Description=Postfix Helo Validity Milter
Conflicts=sendmail.service exim4.service
ConditionPathExists=/etc/postfix/main.cf
Requires=postfix.service


[Service]
Type=simple

#WorkingDirectory=/path/to/your/helo-milter/
#ExecStart=python3 /path/to/your/helo-milter/helo-milter.py

ExecReload=kill -SIGHUP $MAINPID

## Default restart policy:
Restart=no
## Restarts when this signal is sent to process
## Regardless of Restart=... directive!
RestartForceExitStatus=1 SIGHUP

## These will be considered successful, not failed, runs:
SuccessExitStatus=1 SIGHUP 2 SIGINT 15 SIGTERM

[Install]
WantedBy=multi-user.target
