
[Unit]
Description=Postfix Helo Validity Milter
Conflicts=sendmail.service exim4.service
ConditionPathExists=/etc/postfix/main.cf
Requires=postfix.service


[Service]
Type=simple

#WorkingDirectory=/path/to/your/helo-milter/
#ExecStart=python3 helo-milter.py

ExecReload=kill -SIGUSR1 $MAINPID

## Default restart policy:
Restart=no
## Restarts when this signal is sent to process
## Regardless of Restart=... directive!
## (10=SIGUSR1; systemd doesn't know Linux SIG*)
RestartForceExitStatus=10 SIGUSR1

## This (SIGUSR1) will be considered successful, not failed, runs:
SuccessExitStatus=10 SIGUSR1

[Install]
WantedBy=multi-user.target
